Package: com.nighthawk.doodlehack
Name: doodlehack
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Nighthawk
Author: Nighthawk
Section: Tweaks
